header {
    background-image: url(images/seattle_back.jpg);
 	background-color: #cccccc;
  	height: 800px;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}
}
h1 {
	font-size: 6em;
}
h3 {
	font-family: Tahoma;
	color: Blue;
	font-size: 2em;
	margin-left: 26%;
}
#headertext{
	font-family: Tahoma;
	color: red;
	font-size: 2em;
	text-align: center;
  	position: absolute;
  	top: 30%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
ul {
    padding: 20px;
    line-height: 1.5;
    text-align: left;
}
h4 {
	font-family: Tahoma;
	color: red;
	font-size: 1.5em;
	margin-left: 3%;
}
h5 {
	font-family: Tahoma;
	color: red;
	font-size: 1em;
}
#bio_header{
  	float: left;
  	display: block;
  	height: 800px;
  	width: 39%;
  	border: 1px solid black;
  	text-align: center;
}
img {
	border-radius: 8px;
}
#bio_img {
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 10%;
}
#skills_img {
    margin-left: 35%;
    margin-bottom: -10%;
}
#skills {
    float: left;
    display: block;
    border: 1px solid black;
    height: 800px;
    width: 60.36%;
    background-color: #009696;
}
.clearfix {
	overflow: auto;
	clear: both;
}

#cheezburger {
    float: left;
    display: inline;
    height: 800px;
    width: 33%;
    border: 1px solid black;
}
#cheez {
    margin-left: 27%;
    margin-top: 10%;
}	
#hackeragency {
    float: left;
    display: inline;
    height: 800px;
    width: 33%;
    border: 1px solid black;
}
#hacker {
    margin-left: 27%;
    margin-top: 10%;
}	
#speedtest {
    float: left;
    display: inline;
    height: 800px;
    width: 33%;
    background-color: #009696;
    border: 1px solid black;
}
#speed {
    margin-left: 27%;
    margin-top: 10%;
}	
.clearfix {
	overflow: auto;
	clear: both;
}
#contact {
    float: left;
    display: inline;
    width: 100%;
    border: 1px solid black;
    background-color: #009696;
    text-align: center;
}
#contactlist {
	text-align: center;
	list-style-type: none;
	padding: 1px;
}
@media only screen and (max-width: 630px) {
	#bio_header {
		float: none;
		width: auto;
	}
	#skills {
		float: none;
		width: auto;
	}
	#cheezburger {
		float: none;
		width: auto;
	}
	#hackeragency {
		float: none;
		width: auto;
	}
	#speedtest {
		float: none;
		width: auto;
		background: #009696;
	}
	h1,h2 {
		font-size: 1.5em
	}

}	
@media only screen and (min-width: 630px) and (max-width: 1000px) {
	#bio_header {
		float: none;
		width: auto;
	}
	#skills {
		float: none;
		width: auto;
	}
	#cheezburger {
		float: none;
		width: auto;
	}
	#hackeragency {
		float: none;
		width: auto;
	}
	#speedtest {
		float: none;
		width: auto;
		background: #009696;
	}
	h1,h2 {
		font-size: 1.5em
	}

}	

